.navbarMenu{
    width: 20%;
    height: 800px;
    background-color: rgb(238, 236, 236);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(238, 236, 236);
  }
  
  li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
  }
/* Card da refeição do dia
.cardRef{
 position: relative;
 margin-left: 78%;
 margin-top: -58%;
}*/

.cardRef{
  position: absolute;
  right: 6px;
  top: 64px;
 }

/* Imagem(Avatar) do menu */
#imgcard{
  position: relative;
  left: 25%;
}

.table{
  width: 60%;
  position: absolute;
  left: 25%;
  top: 55%;
}

.container-form{
  background-color: rgb(243, 240, 240);
  width: 50%;
  height: 250px;
  position: absolute;
  top:70px;
  left: 25%;
}

.container-update{
  background-color: rgb(243, 240, 240);
  width: 50%;
  height: 250px;
  position: absolute;
  top:700px;
  left: 25%;
}